<!doctype html>
<html lang="en">
    <head>
    {{ partial "meta_tags.html" . }}

    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    <title>
      {{ .Title }}
    </title>
    {{ partial "head_stylesheets.html" . }}
    {{ partial "gtag.html" . }}
  </head>
  <body>
    {{ partial "top_menu.html" . }}
    <div class="my-page-container">
      <div class="my-page-head">
        {{ .Title }}
      </div>
      <div class="my-page-content">
        {{ .Content }}

        <h2>Recent posts</h2>
        {{ range .Pages }}
          {{ if gt (int (.Date.Format "2006")) 2021 }}
        {{ .Date.Format "Jan 02" }} <a href="{{.Permalink}}">{{ .Title }}</a> <br />
          {{ end }}
        {{ end }}

        <h2>Posts from 2021</h2>
        {{ range .Pages }}
          {{ if eq (.Date.Format "2006") "2021" }}
        {{ .Date.Format "Jan 02" }} <a href="{{.Permalink}}">{{ .Title }}</a> <br />
          {{ end }}
        {{ end }}

        <h2>Posts from 2020</h2>
        {{ range .Pages }}
          {{ if eq (.Date.Format "2006") "2020" }}
        {{ .Date.Format "Jan 02" }} <a href="{{.Permalink}}">{{ .Title }}</a> <br />
          {{ end }}
        {{ end }}

        <h2>Posts from 2019</h2>
        {{ range .Pages }}
          {{ if eq (.Date.Format "2006") "2019" }}
        {{ .Date.Format "Jan 02" }} <a href="{{.Permalink}}">{{ .Title }}</a> <br />
          {{ end }}
        {{ end }}

        <h2>Posts from 2018</h2>
        {{ range .Pages }}
          {{ if eq (.Date.Format "2006") "2018" }}
        {{ .Date.Format "Jan 02" }} <a href="{{.Permalink}}">{{ .Title }}</a> <br />
          {{ end }}
        {{ end }}

        <h1>Posts from my older tech blog</h1>
        <a href="https://yetanothertechnicalblog.blogspot.com" target="_blank">YetAnotherTechnicalBlog</a>
      </div>
    </div>

    {{ partial "bottom.html" . }}
  </body>

</html>
