<!doctype html>
<html lang="en">
  <head>
    {{ partial "meta_tags.html" . }}
    <title>
      {{ .Title }}
    </title>
    {{ partial "head_stylesheets.html" . }}
    <script src="{{ .Site.BaseURL }}/js/onready.js"></script>
    <script src="{{ .Site.BaseURL }}/js/transformtextnodes.js"></script>
    <script src="{{ .Site.BaseURL }}/generate-bangla-utf8-cljs-demo/target/out.js"></script>
    <script>
      ready(transformtextnodes(generate_bangla_utf8_cljs.converter.to_bangla_utf8));
    </script>
    {{ partial "gtag.html" . }}
    
    <!-- External links script -->
    <script src="{{ .Site.BaseURL }}/js/external-links.js"></script>
  </head>
  <body>
    <!-- Twitter share widget script -->
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v22.0"></script>
  
    {{ partial "top_menu.html" . }}
    <div class="my-page-container">
      <div class="my-page-head">
        {{ .Title }}
      </div>
      <hr />
      <div class="my-page-date">
        {{ .Date.Format "January 2, 2006" }}
      </div>
      <div class="my-page-visits">
        <svg class="analytics-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
          <path fill="currentColor" d="M3 3v18h18v-2H5V3H3zm14 12l-4-4-4 4-4-4v3l4 4 4-4 4 4v-3z"/>
        </svg>
        <span id="pageViews"></span>
      </div>
      <div class="my-page-tags">
        Tags:
        {{ with .Params.tags }}
          {{ range $index, $tag := . }}
            {{- if $index }}, {{ end }}
            <a href="{{ "/tags/" | relLangURL }}{{ $tag | urlize }}" class="tag-link">{{ $tag }}</a>
          {{- end }}
        {{ end }}
      </div>
      <div class="my-page-content">
        {{ .Content }}
      </div>
      
      <div class="tweet-button-container">
        <div style="float:left">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" 
           class="twitter-share-button" 
           data-text="{{ .Title }}" 
           data-via="debamitro" 
           data-hashtags="{{ delimit .Params.tags "," }}" 
           data-show-count="false">
          Share on X
        </a>
        </div>
        <div style="float:left; margin-left: 5px">
         <div class="fb-share-button" data-href="{{ .Permalink }}" data-layout="button" data-size="small">
          <a target="_blank" 
          href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | urlize }}&amp;src=sdkpreparse" 
          class="fb-xfbml-parse-ignore">
          Share on Facebook
        </a>
        </div>
        </div>
      </div>

    </div>

    {{ partial "bottom.html" . }}
  </body>

</html>
