body {
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 1em;
}

.my-menu {
    display: inline;
    list-style-type: none;
}

.my-menu-item {
    display: inline;
    text-transform: uppercase;
    font-size: 0.8em;
    margin-left:5px;
    margin-right:5px;
    color: black;
}

.my-menu-item-link {
    text-decoration: none;
}

.my-menu-item-link:hover {
    text-decoration: underline;
}

.my-menu-bar {
    width:100%;
    text-align:right;
    background-color: #f0f0f0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.my-page-container {
    margin-left: 10px;
    margin-right: 10px;
}

.my-page-content {
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.my-page-head {
    font-family: Garamond, Georgia, serif;
    font-size: 3em;
}

.my-bottom-bar {
    width:100%;
    text-align:center;
    background-color: #d0d0d0;
    padding-top: 10px;
    padding-bottom: 10px;
}