<div class="my-menu-bar">
  <ul class="my-menu">
    <li class="my-menu-item">
      <a href="{{ .Site.BaseURL }}" class="my-menu-item-link">Home</a>
    </li>
    {{ range .Site.Menus.main }}
    <li class="my-menu-item">
      <a href="{{ .URL }}" class="my-menu-item-link">{{ .Name }}</a>
    </li>
    {{ end }}
    <li class="my-menu-item">
      <a href="https://github.com/debamitro" class="my-menu-item-link"><img src="{{ .Site.BaseURL }}/images/GitHub-Mark-32px.png" /></a>
    </li>
  </ul>
</div>
