<!doctype html>
<html lang="en">
  <head>
    {{ partial "meta_tags.html" . }}
    <title>
      {{ .Title }}
    </title>
    {{ partial "head_stylesheets.html" . }}
    <script src="{{ .Site.BaseURL }}/js/onready.js"></script>
    <script src="{{ .Site.BaseURL }}/js/transformtextnodes.js"></script>
    <script src="{{ .Site.BaseURL }}/generate-bangla-utf8-cljs-demo/target/out.js"></script>
    <script>
      ready(transformtextnodes(generate_bangla_utf8_cljs.converter.to_bangla_utf8));
    </script>
  </head>
  <body>
    <!--  An empty menu bar for the Home page //-->
    <div class="my-menu-bar">
    </div>
    <div class="my-page-container">
      <div class="my-page-head">
        Personal website of Debamitro Chakraborti
      </div>

      <div class="my-page-content">
        Hi visitor! <transliterate language="bangla">namaskAr</transliterate>!
        <br />
        <a href="blog/">Here is my blog</a><br />
        <a href="projects/">Here are my projects</a><br />
        <a href="music/">Here is what I listen to</a><br />
        <a href="about/">And here is who I am</a>
      </div>
    </div>
    {{ partial "bottom.html" . }}
  </body>
</html>
